* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #152d44;
}

h1{
  color: white;
}

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: normal;
  src: local('BebasNeue'), url('fonts/BebasNeue.otf') format('opentype');
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
